<section class="product-details">
    <div class="container">
        <div class="product-box">
            <div class="p-thumbnail">
                <img [src]="productDetails.thumbnail" alt="">
            </div>
            <div class="p-details">
                <div class="p-title">
                    <p class="p-category">{{productDetails.category}}</p>
                    <h2 class="p-name">{{productDetails.title}}</h2>
                    <p class="p-brand">{{productDetails.brand}}</p>
                </div>
                <!-- ---------------- -->
                <div class="p-data-p-s">
                    <p class="p-price">{{productDetails.price | currency:'USD'}}</p>
                    <p class="p-stock">3 in the stock</p>
                </div>
                <div>
                    <p>{{productDetails.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>