@use '../../../style/index' as *;
//---------------------------------------------------------------------------------------------------------------------------------------------


.product-details {

    .container {
        .product-box {
            @include display-flex();
            @include flex-wrap(wrap);
            @include justify-content(space-around);
            @include border-radius(30px);
            box-shadow: $box-shadow;
            padding: $size;

            .p-thumbnail {
                img {
                    @include border-radius(10px);
                    width : 350px;
                }
            }

            .p-details {
                padding: $size calc($size*2);
                @include display-flex();
                @include flex-direction(column);
                @include justify-content(space-evenly);
                 .p-title {

                    .p-category,
                    .p-brand {
                        color: $secondary;
                    }
                }

                .p-data-p-s {
                    .p-price {
                        color: $primary;
                        font-weight: 600;
                        font-size: calc($size *3);
                    }

                    .p-stock {}
                }
            }
        }
    }

}