.app-root{

    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .router-outlet{
        flex: 1 0 auto;
        padding: 64px 0;
        display: flex;
        justify-content: center;
        // align-items: center;
    }
}