
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@use './app/style/media-query' as mq;
@use './app/style/color' as colors;
@use './app/style/grid-system' as * ;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-product-primary: mat.define-palette(mat.$indigo-palette);
$ng-product-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-product-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-product-theme: mat.define-light-theme((
  color: (
    primary: $ng-product-primary,
    accent: $ng-product-accent,
    warn: $ng-product-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-product-theme);

/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: colors.$secondary-lite;
}

.container {    
    @include mq.breakpoints(xsmall) {
      max-width: 750px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
    }
    //---------------------
    
    @include mq.breakpoints(small) {
      width: 750px;
    }
    //---------------------
    @include mq.breakpoints(medium) {
      width: 970px;
    }
    //---------------------
  
    @include mq.breakpoints(large) {
      width: 1170px;
    }
  }
