<form class="filter-form">
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Search</mat-label>
        <input type="text"
               placeholder="Product name"
               aria-label="Product name"
               matInput
               [formControl]="product_fc"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of options " [value]="option.id">
            {{option.title}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </form>